img {
    width: 120px; 
    margin-right: 20px; 
}
section {
    margin-top: 1.5em;
}

.flash p {
    width: 450px;
    color: white;
    background-color: rgb(231, 112, 76);
    border-radius: 5px;
    padding: 0.5em;
    font-size: 1em;
    margin-top: 0.5em;
    border: solid 2px rgb(214, 82, 42);
  }

a {
    text-decoration: none;
}

td {
    vertical-align: top;
}