{% extends "base.html" %}
{% block title %}Edit Post{% endblock %}
{% block content %} 

    <h3 class="h3">Edit Post</h3>
    <form action='/posts/{{post.id}}/edit' method="POST">
        <br>
        <div class="mb-3">
            <label for="title" class="form-label">Title:</label> <br>
            <input type="text" id="title" name="title" placeholder='{{post.title}}''>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">Post Content:</label> <br>
            <textarea id="content" name="content" rows="5" cols="40" placeholder='{{post.content}}'></textarea>
        </div>
        <a class="btn btn-outline-success" href="/users/{{post.user_id}}"> Cancel </a>
        <button class="btn btn-success">Save</button>
    </form>

{% endblock %}