{% extends "base.html" %}
{% block title %}User Info{% endblock %}
{% block content %}

<table>
    <tr>
        <td>
            <img src="{{user.image_url}}" alt="Sorry, couldn't find a picture">
        </td>
        <td>
            <h2>{{user.first_name}} {{user.last_name}}</h2>
            <br>
            <form action='/users/{{user.id}}/delete' method="POST">
                <div class="mb-3">
                    <a class="btn btn-primary" href="/users/{{user.id}}/edit"> Edit </a>
                    <button class="btn btn-danger"> Delete </a>        
                </div>
            </form>
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            <form action="/users/{{user.id}}/posts/new">
                <h3 class="h4">Posts</h3>
                <ul>
                    {% if user.userposts %}
                        {% for post in user.userposts %}
                           <li><a href="/posts/{{post.id}}">{{post.title}}</a></li>
                        {% endfor %}
                    {% else %}
                        <h6>No posts so far ...</h6>
                    {% endif%}
                </ul>
                <button class="btn btn-primary"> Add Post </button>
            </form>
        </td>
    </tr>
</table>

{% endblock %}

